*.pyc
data/
__pycache__/
checkpoints/
*.pth
*.jpg
SUBMISSION*
venv/
runs/
core
*.avi
*.mp4
AIGC_train_data/
AIGC_data_utils/
test_pretrain/
test_set_ver2/
test_set/
trash/
origin_data/
pretrain_model/
det_video*.txt